<html xmlns:th="http://www.thymeleaf.org" xmlns:dt="http://github.com/dandelion/datatables">
<head>
<script type="text/javascript">
$(function(){
	 $("#search").click(function(){
		var name = $("input[name=name]").val();
		if(isNull(name)){
			alert("pleas type userid between 0 and 5");
			return ;
		}
		$.ajax({url:'user/findUserByName?name='+name,type:"POST",success:function(user){
			$("div#user").html("<span>username:"+user.name+"  age:"+user.age+"  sex:"+user.sex+"</span>");
		}});
	});
});
</script>
</head>
<body>
<div><span>用户名:</span><input name="name" value=""/><input type="button" id="search" value="查询"/></div>
<div id="user">
</div>
<div id="userlist" >
<table >
<thead>
<tr>
<th>name</th>
<th>age</th>
<th>sex</th>
</tr>
</thead>
<tr th:each="sb : ${allUsers}">
  <td th:text="${sb.name}"></td>
  <td th:text="${sb.age}"></td>
  <td th:text="${sb.sex}"></td>
</tr>
</table>
</div>

<script>

$(function(){
	/* private String search;
	private Integer displayStart;
	private Integer displaySize;
	private List columnDefs;
	private List sortingColumnDefs;
	private Integer internalCounter; */
	
	var oTable = $('#myTableId').dataTable( {
		bProcessing: true,
        bServerSide: true,
		sAjaxSource: "user/queryUser",
		aoColumns: [
						{ "mData": "id" },
						{ "mData": "name" },
						{ "mData": "age" },
						{ "mData": "sex" }
					] /* ,
		"fnServerData": function ( sSource, aoData, fnCallback ) {
			   var param = new Object();
			   param.sEcho = 1 ;
			   param.iColumns = 4 ;
			   param.iDisplayStart = 0 ;
			   param.iDisplayLength = 10 ;
			   param.sSearch = "";
			   param.iSortingCols=1;
			   param.
               $.ajax( {
                   dataType: 'json',
                   contentType: "application/json;charset=UTF-8",
                   type: 'POST',
                   url: sSource,
                   data: param,
                   success: fnCallback,
                   error : function (e) {
                       alert (e);
                   }
               } ); 
        } */
	} );
})
</script>
<div>
<table  id="myTableId" dt:table="true" dt:url="@{user/queryUser}" dt:serverside="true" dt:processing="true">
   <thead>
      <tr>
         <th id="id">编号</th>
         <th id="name">姓名</th>
         <th id="age">年龄</th>
         <th id="sex">性别</th>
      </tr>
   </thead>
</table>
</div>
</body>

<datatables:table data="${allUsers}" id="dataTable"  theme="bootstrap2" export="pdf">
 <datatables:column title="name" property="name" sortable="true" />
 <datatables:column title="age" property="age" sortable="true" />
 <datatables:column title="sex" property="sex" sortable="true" />
</datatables:table>
</html>
